html, body { height: 100%; margin: 0; padding: 0; }

a:link{
	text-decoration: none;
}

.thick_hr{   
	width: 100%;
	height: 4px;
	margin: 5px 0px;
	border: 1px solid black;
	background-color: black;
}

.thin_hr{   
	width: 98%;
	height: 1px;
	margin: 3px 0.5%; 
	border: 1px solid salmon;
	background-color: salmon;
}

#site_title{
	background-image: url("/resources/images/earthquake.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}

#site_title > h2{
	margin: 0px;
	padding: 5px 0px 10px 0px;
	vertical-align: middle;
	font-size: 32px;
}

#notice_div > h5{
	margin: 10px 0px;
}

#content_wrap{
	width: 100%;
	height: 700px;
	margin: 0 auto;
}

#map { 
	float:left; 
	width: 64%;
	height: 100%;
	margin: 0 auto;
	margin-left: 1%;
	border: 1px solid gray;
	display: inline-block;
}

#sidebar{
	float: left;
	width: 32%;
	height: 100%;
	margin: 0px 5px;
}

#menu{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-top: 5px;
}

#btnTable, #btnTable td, #btnTable tr{
	margin: 0;
}

#eqkList{
	width: 90%;
	height: 640px;
	margin: 0 auto;
	margin-bottom: 10px;
/*	border: 1px dashed red; */
}

#eqkListbox{
	width:100%;
}

/**  wrapper row 1 **/

#wrapper_row1{
	width: 100%;
	height: 450px;
	margin: 0 auto;
	margin-bottom: 20px;
	clear: both;	
}
#row1_contents_wrap{
	width: 100%-40px;
	height: 100%-20px;
	margin: 10px 20px;
}



.youtube_fieldset{
	height: 98%;
}

.youtube_content{
	width: 47%;
	height: 430px;
	margin: 0px 10px;
	float: left;
	font-size: 13px;
}


/*                 ROW 2            */ 

#wrapper_row2 h3{
	font-size: 16px;
	margin: 5px 0px;
}

#wrapper_row2{
	width: 100%;
	height: 450px;
	margin: 0 auto;
}

#row2_contents_wrap{
	width: 100%-40px;
	height: 100%-20px;
	margin: 10px 20px;
}

#td, tr{
	margin: 0 auto;
	padding: 0;
}

#news_wrap, #sns_wrap{
	width: 47%;
	height: 430px;
	margin: 0px 10px;
	border: 1px solid darkgray;
	float: left;
	
	font-family: Arial;
	font-size: 13px;
	overflow: auto;
}


/*                 ROW 3            */ 
#wrapper_row3 h3{
	font-size: 16px;
	margin: 5px 0px;
}

#wrapper_row3{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#row3_contents_wrap{
	width: 100%-40px;
	height: 500px;
	margin: 10px 20px;
}


#comment_wrap, #site_link_wrap{
	width: 47%;
	height: 100%;
	margin: 10px;
	float: left;
	font-family: Comic Sans MS;
	
	border: 1px solid darkgray;
}

#comment_table_wrap{
	width: 100% - 10px;
	height: 350px;
	border: 1px solid darkgray;
	
	margin: 0px 5px;
	font-size: 13px;
	overflow: auto;
}

#comment_table{
	width: 100%;
}


#comment_table td {
	border: 1px solid black;
}



#comment_write_div{
	width: 100% - 10px;
	height: 70px;
	margin: 5px 5px 10px 5px;
	border: 2px solid black;
}

#comment_write_div table {
	width: 100%;
}

#banner_wrap{
	margin: 10px;
	float: left;
	font-family: Arial;
}

#banner_wrap  td {
	border: 1px solid black;
	border-spacing: 2px;
	border-collapse: collapse;
}


/* class */

textarea{
	width: 100%;
	margin: 0 auto;
}

.textwrapper{
	width: 100%;
	margin: 2px 0px;
	padding: 5px;
}

.tdWriter{
	width: 120px;
}

.tdWriter2{
	min-width: 80px;
	width: 100px;
}

.tdComment{
	width: 100% - 200px;
}

.tdComment2{
	min-width: 300px;
}

.tdButton{
	width: 80px;
	text-align: center;
}

.tdCommentDate{
	width: 80px;
}

.spanCommentDate{
	font-size: 11px;
}



.tdNewsTitle a:link{
/*	width:70%; */
	text-decoration: none;
}

.tdNewsPublishedDate{
	width: 200px;
}

.trNewsTitle{
	height: 20px;
	vertical-align: middle;
}

.trNewsContent{
	min-height: 50px;
	vertical-align:middle;
}
.trSpace{
	height: 8px;
}

.newsPublishedDate{
	font-size: 12px;
}

.newsContent{
/*	margin: 5px;*/
	padding-right: 10px;
	display: inline-block;
}

td > .commentBtn{
	width: 60px;
	height: 24px;
	padding: 3px 0px ;
	border-radius: 3px;
	vertical-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
}



#footer_div{
	clear: both;
	width: 100%;
	height: 110px;
	margin-top: 10px;
	
	border: 2px dotted salmon;
	background-color: salmon;
	text-align: center;
}

